repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0  # Use the ref you want to point at
      hooks:
      -   id: check-case-conflict
      -   id: check-executables-have-shebangs
      -   id: check-json
      -   id: check-merge-conflict
      -   id: destroyed-symlinks
      -   id: check-shebang-scripts-are-executable
      -   id: mixed-line-ending
      -   id: trailing-whitespace
      -   id: check-added-large-files
      -   id: end-of-file-fixer
  -   repo: https://github.com/asottile/yesqa
      rev: v1.5.0
      hooks:
      -   id: yesqa
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.1
    hooks:
      - id: sphinx-lint
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

ci:
  autoupdate_schedule: monthly
